* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
     color: #fff !important;
}
:root {
  --text-colors: rgba(142, 89, 163, 0.658);
  --text-colors2: rgb(172 156 179 / 72%);
  --input-color: rgb(255, 255, 255);
}
body {
  background-color: #2e0249dc;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  transition: all 0.5s ease;

}
.todo-container {
position: relative;
  z-index: 400;
  width: 350px;
  margin: auto;
  margin-top:30px ;
text-align: center;


}

.input-section {
  background: rgba(255, 255, 255, 0.168);
    border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  -webkit-box-shadow: 0px 0px 9px 4px rgba(0, 0, 0, 0.38);
  -moz-box-shadow: 0px 0px 9px 4px rgba(0, 0, 0, 0.38);
  box-shadow: 0px 0px 9px 4px rgba(0, 0, 0, 0.38);
  transition: all 0.5s ease;
  position: relative;
}
h1 {
  color: var(--text-colors);
  margin-bottom: 10px;
  transition: all 0.5s ease;

}
ul {
  text-align: left;
  transition: all 0.5s ease;

}
input::placeholder{
  color: #c9cebef8  ;
}
ul li {
  background: #4f087094;
  color: var(--text-colors2);
  font-weight: bold;
  padding: 10px;
  margin-top: 20px;
  list-style: none;
  border-radius: 10px;
  border: 0.3px solid rgba(255, 255, 255, 0.048);
  -webkit-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.76);
  -moz-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.76);
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.76);
  transition: all 0.5s ease;
  z-index: 3033;
  

    display: flex;
    justify-content: space-between;
    
}
ul li i{
    margin-left: 10px;
  transition: all 0.5s ease;

}
ul li:hover {
  background: #57087c62;
  transition: all 0.5s ease;

  cursor: pointer;
}
ul li i:hover{
    cursor: pointer;
    color: rgba(221, 210, 226, 0.884);
  transition: all 0.5s ease;

}

.input-section input {
  border: 1px solid grey;
  background: #42036952;
  margin: 10px;
  padding: 10px;
  outline: none;
  /* border: none; */
  border: 1px solid var(--text-colors);
  border-radius: 5px;
  font-family: sans-serif;
  font-size: 15px;
  font-weight: 500;
  transition: all 0.5s ease;

  /* transition: all 1s ease; */
  color: var(--input-color);
}
.editdiv{
    position: absolute;
    z-index: 1000;
    top: 1rem;
    left: 0;
    right: 0;
    background: hsl(207, 100%, 49%);
    max-width: 240px;
    height: 100px;
    margin: auto;
text-align: center;
padding: 4px;
    transition: all 1s ease;
    border-radius: 5px; 
    animation-name: slit-in-horizontal;
    animation-duration: 0.5s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: none;
}

@keyframes slit-in-horizontal {
    0%{
      transform: translateZ(-800px) rotateX(90deg);
      opacity: 0;
    }
    50%{
      transform: translateZ(-160px) rotateX(87deg);
      opacity: 1;
    }
    100%{
      transform: translateZ(0) rotateX(0);
    }
  }
  
.editdiv form{
    width: 100%;
    z-index: 3;

}
.editdiv input{
    border: 1px solid grey;
  background: #2c034652;
  margin:10px;
  padding: 10px;
  outline: none;
  border: 1px solid var(--text-colors);
  border-radius: 5px;
  font-family: sans-serif;
  font-size: 15px;
  font-weight: 500;
  /* transition: all 1s ease; */
  color: var(--input-color);
  display: flex;
}
.btns{
    display: flex;
    justify-content: space-between;
    margin-right: 6px;
}

.btn{
    background: #9A0680;
    color: #fff;
    padding: 5px 10px;
    outline: none;
    border: none;
    border-radius: 4.5px;
    /* margin-left:176px ; */

    margin-left: 10px;
}
.btn:hover{
    background: #6e155ed3;
    cursor: pointer;
}
.hide{
    display: none;
}
